<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
    <!-- BOOTSTRAP -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@
    <!-- BOOTSWATCH -->
    <!-- SLATE-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css" integrity="sha384-FBPbZPVh+7ks5JJ70RJmIaqyGnvMbeJ5JQfEbW0Ac6ErfvEg9yG56JQJuMNptWsH" crossorigin="anonymous"/>
    <!-- FONT AWSONE -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
    <!-- JQUERY UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <!-- ANIMATE.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"/>
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap"/>
    <!-- client -->
    <link rel="stylesheet" href="/css/client.css"/>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><i class="far fa-compass"></i> Northwind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-database mr-1"></i> Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="Categories" asp-controller="Category"><i class="fas fa-list-ul"></i> Browse Categories</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-search"></i> Product Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Discounts" asp-controller="Product"><i class="fas fa-tag"></i> Current Discounts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-users mr-1"></i> Customers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="Login" asp-controller="Account"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                    <a class="dropdown-item" asp-action="Account" asp-controller="Account"><i class="fas fa-info-circle"></i> Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Register" asp-controller="Customer"><i class="fas fa-user-plus"></i> Customer - Register</a>
                    <a class="dropdown-item" asp-action="Register" asp-controller="Employee"><i class="fas fa-briefcase"></i> Employee - Register</a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Discount"><i class="fas fa-tags"></i> Employee - Edit Discounts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-info-circle"></i> Admin - Accounts</a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="RoleAdmin"><i class="fas fa-info-circle"></i> Admin - Roles</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Birthday"><i class="fas fa-birthday-cake mr-1"></i>Birthday Special</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Product Search" aria-label="Search" aria-hidden="true">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</nav>

<div class="container-fluid mb-5">
    <div class="jumbotron my-2 shadow-lg mb-0 ml-3 mr-3 pb-5">
        <h1 class="display-4">Northwind Traders & Co.</h1>
        @RenderBody()
    </div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- jQuery UI-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
@RenderSection("Scripts", required: false)
</body>
</html>