@using Northwind.Models
@model LoginUser

@{
    ViewData["Title"] = "Northwind - Login";
    Layout = "_Layout";
}

<p class="lead">Please log in to verify you are a dedicated northwinder.</p>

<hr class="my-4">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    <script src="/js/client.js"></script>
}