@{
    ViewData["Title"] = "Northwind Categories";
}

@using Northwind.Models
@model IEnumerable<Category>

<p class="lead">Check out the unique categories of our products below!</p>

<hr class="my-4">
<p>Unique categories, designed to cater to your tastes.</p>
<div class="list-group list-group-flush">
    @foreach (Category c in Model)
    {
        <a class="list-group-item d-flex justify-content-between align-items-center" asp-controller="Category" asp-action="Products" asp-route-id="@c.CategoryId">
            <div>
                @c.CategoryName<span class="badge badge-primary badge-pill">@c.Products.Count(p => p.Discontinued == false)</span>
            </div>
            <p class="m-1">@c.Description</p>
        </a>
    }
</div>

@section Scripts {
    <script src="/js/client.js"></script>
}