@{
    ViewData["Title"] = "Northwind Category Products";
}

@using Northwind.Models
@model IEnumerable<Product>


<p class="lead">Check out our featured products below!</p>

<hr class="my-4">
<p>Tasteful, wonderful, exquisite. All the @Model.First().Category.CategoryName you will ever need.</p>
<div class="list-group list-group-flush mb-5">
    @foreach (var p in Model)
    {
        <a class="list-group-item d-flex justify-content-between align-items-center" asp-controller="Product" asp-action="Product" asp-route-id="@p.ProductId">
            <div>
                @p.ProductName
            </div>
        </a>
    }
</div>

<div class="row">
    <a class="font-weight-light" asp-controller="Category" asp-action="Categories">Return to Categories</a>
</div>

@section Scripts {
    <script src="/js/client.js"></script>
}