@model string

@{
    ViewData["Title"] = "Northwind - Create Role User";
    Layout = "_Layout";
}

<p class="lead">Buy a new slave? Your glory allows you to buy for free.</p>

<hr class="my-4">

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input id="name" name="name" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

@section Scripts {
    <script src="/js/client.js"></script>
}