@{
    ViewData["Title"] = "Northwind - Create User Role";
    Layout = "_Layout";
}

<p class="lead">Add a new role for a user below.</p>

<hr class="my-4">

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">New Role</label>
        <input id="name" name="name" class="form-control" placeholder="Name"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
