@{
    ViewData["Title"] = "Product Categories";
}

@using Northwind.Models
@model IEnumerable<Category>

<div class="container-fluid mb-5">
    <div class="jumbotron my-2 shadow-lg mb-0 ml-3 mr-3 pb-5">
        <h1 class="display-4">Northwind Traders & Co.</h1>
        <p class="lead">Check out our featured products below!.</p>

        <hr class="my-4">
        <p>Unique categories, designed to cater to your tastes.</p>
        <ul>
            @foreach (Category c in Model)
            {
                <li>@c.CategoryName - @c.Description</li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <script src="/js/client.js"></script>
}