@using Northwind.Models
@model IEnumerable<Discount>

@{
    ViewBag.Title = "Northwind - Discounts";
    Layout = "_Layout";
}

<p class="lead">These are the best discounts we will ever give! </p>
<small>Until they expire and we release more.</small>

<hr class="my-4">
<a class="btn btn-lg btn-outline-secondary btn-success" style="width: 100px; color: white;">Add</a>
<br/><br />
<div class="row">
    <div class="col list-group-flush">
        <!--Replace with Ajax?-->
        @foreach (var discount in Model)
        {
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <span class="badge badge-primary badge-pill">Expires @discount.EndTime.ToShortDateString()</span>
                <span class="mr-2 badge badge-light badge-pill">Code: @discount.Code</span>
                @discount.Title
            </div>
            <p class="m-1">@discount.Description</p>

            <form  method="post" >
                <a class="btn btn-sm btn-outline-primary">Edit</a>
                <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
            </form>
        </div>
        }
    </div>
    
</div>
<script>
    //Do some AJAX HERE
</script>