<div class="container-fluid mb-5">
    <div class="toast float-right mr-3 shadow-sm" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Toast Header</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            Some text inside the toast body
        </div>
    </div>
    <div class="jumbotron my-2 shadow-lg mb-0 ml-3 mr-3 pb-5">
        <h1 class="display-4">Northwind Traders & Co.</h1>
        <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>

        <hr class="my-4">
        <p>For exceptional international quisuine, look no further.</p>
        <a class="btn btn-outline-secondary btn-lg" href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
        <div class="row justify-content-center">
            <a class="btn btn-outline-secondary btn-lg animated heartBeat" role="button"
               data-toggle="collapse" data-target="#discountCollapse"
               aria-expanded="false" aria-controls="discountCollapse"
               id="collapse-btn">
                <i class="fas fa-tag"></i> Current Discounts
            </a>
        </div>
    </div>
    <div class="row collapse" id="discountCollapse">
        <div class="col-md-4 col-sm-6  shadow-sm pl-2 pr-2 text-center">
            <h3>Fish Discount</h3>
            <p>Save 17.82% on your next purchase of fish.</p>
            <button class="btn-dark shadow-sm toast-btn"
                    data-toggle="collapse" data-target="#discountCollapse"
                    aria-expanded="false" aria-controls="discountCollapse" id="fishDiscount">
                <i class="far fa-hand-point-right"></i> Get Code
            </button>
        </div>
        <div class="col-md-4 col-sm-6 shadow-sm pl-2 pr-2 text-center">
            <h3>Bread Discount</h3>
            <p>One loaf of bread, free, take it or leave it.</p>
            <button class="btn-dark shadow-sm toast-btn"
                    data-toggle="collapse" data-target="#discountCollapse"
                    aria-expanded="false" aria-controls="discountCollapse" id="breadDiscount">
                <i class="far fa-hand-point-right"></i> Get Code
            </button>
        </div>
        <div class="col-md-4 shadow-sm pl-2 pr-2 text-center">
            <h3>Wine & Dine</h3>
            <p>Get a 50% off a bottle of wine today!</p>
            <button class="btn-dark shadow-sm toast-btn"
                    data-toggle="collapse" data-target="#discountCollapse"
                    aria-expanded="false" aria-controls="discountCollapse" id="wineDiscount">
                <i class="far fa-hand-point-right"></i> Get Code
            </button>
        </div>
    </div>
    <div class="row">
        <div class="card col-6">
            <div class="card-body">
                <h1 id="bday">HAPPY BIRTHDAY!</h1>
                <h5 class="card-title">Pick some balloons</h5>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="red-check"/>
                    <label class="form-check-label" for="red-check" id="red-label">RED</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="green-check"/>
                    <label class="form-check-label" for="green-check" id="green-label">GREEN</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="blue-check"/>
                    <label class="form-check-label" for="blue-check" id="blue-label">BLUE</label>
                </div>
                <button id="reset-btn" class="btn btn-danger" type="button">Reset Color Choice</button>
            </div>
            <button type="submit" class="btn btn-success" id="pop-btn">Submit</button>
        </div>
        <div class="col-3" id="hldr-balloon">
            <img src="media/red.png" id="red-balloon"/>
            <img src="media/green.png" id="green-balloon"/>
            <img src="media/blue.png" id="blue-balloon"/>
        </div>
        <div class="col-3">
            <div class="toast mr-3 shadow-sm" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">MISSING BALLOONS!!</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                </div>
                <div class="toast-body">
                    YOU NEED TO PICK SOME BALLOONS FOR YOUR PARTY, DUMMY!
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/client.js"></script>
}